<% include partials/header %>
  <li class="nav-item active">
    <a class="nav-link" href="/">Home
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/campgrounds">Campgrounds</a>
  </li>

  </ul>
  <div>
    <%if (!currentUser) {%>
      <a href="/login" class="btn btn-secondary">Login</a>
      <a href="/register" class="btn btn-secondary">Register</a>
      <% } else { %>
        <span>Welcome
          <%= currentUser.username %>
        </span>

        <a href="/logout" class="btn btn-secondary"> Logout</a>
        <% } %>
  </div>
  </div>
  </nav>

  <header class="jumbotron">
    <h1 class="display-4">Welcome to YelpCamp!</h1>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/campgrounds" role="button">View all campgrounds</a>
  </header>

  <% include partials/footer %>